a.out
*.a
*.o
.vscode
*.gcno
*.gcda
*.txt
!test_history.txt
*.pdf
exe
libmy.a
unit_tests
to_not_push
mysh
42sh
explanation.md
bin_not_compatible
segfault
bin_permission_denied
coding-style-reports.log
*.py
test_dir
&